* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {

    background-color: rgb(157, 157, 201);

}

button {
    background: skyblue;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 1.3rem;
    border: 2px skyblue solid;
    border-radius: 5px;
    color: blue;
}

.logo {
    text-align: center;
    color: blue;
    background-color: white;
    font-weight: ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo h1 {}

.navbar {
    position: sticky;
    top: 0;
    display: inline-block;
    text-align: center;
    background-color: lightblue;
    color: ;
    width: 100%;
    padding: 20px;

}

li {

    display: inline-flex;
    justify-content: space-evenly;
}

li a {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(106, 58, 138);
    font-weight: bold;
    transition: 0.6s;
}

li a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.5em;
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
    background: blue;
    border-radius: 3px;
}

.hero-text {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 1.6em;
    padding-top: 7em;
    font-family: ;
    font-weight: ;

}


.intro,
.mission {
    background-color: lightblue;
    padding: 45px;
    text-align: center;
    margin: 30px;

}

#features {
    display: inline-flex;
    padding: 50px;
}

.feat {
    padding: 20px;
    text-align: center;
    color: blue;
}

#procurement,
#risk,
#performance {
    background-color: purple;
    color: skyblue;
}

.fa-solid {
    font-size: 1.8rem;
}

#project,
#budget {
    background-color: lightblue;
    color: purple;
}



.in,
.st,
.trans {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    padding-top: 50px;
    font-weight: bolder;
    margin: 0;
    border-radius: 10px;
    background-size: cover;
    transition: 0.6s;
}


.in:hover,
.st:hover,
.trans:hover {
    width: 25%;


}

.in {
    background-image: url(inovation.png);
    height: 320px;
    background-repeat: no-repeat;
    color: purple;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: center;
}


.st {
    background-image: url(partnership.png);
    height: 380px;
    background-repeat: no-repeat;
    color: white;
    display: block;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    padding-top: 20%;

}

.trans {
    background-image: url(transparency.png);
    height: 320px;
    background-repeat: no-repeat;
    color: purple;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

#contact {
    background-color: rgb(2, 2, 36);
    text-align: center;
    color: white;
    margin-top: 100px;
    padding: 30px;
}

#testimonials {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    font-size: 1.2rem;
    margin: 30px;
    padding: 10px;
    text-align: left;
    width: 100%;

}

.myp1,
.myp2,
.myp3 {
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: 30px;

}

.myp3,
.myp2 {
    border-left: 4px solid darkblue;
}

.myp2,
.myp3 {
    padding-left: 20px;


}

.intr {
    display: inline-flex;
    justify-content: center;

    background-color: lightblue;
    padding: 45px;
    text-align: center;
    margin: 30px;
}

#pics {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    text-align: center;
    border-radius: 0;
}